bcrypt==5.0.0
blinker==1.9.0
cachelib==0.17.0
click==8.5.0
Deprecated==1.3.1
ecdsa==0.19.2
Flask==3.1.3
Flask-Bcrypt==1.0.1
Flask-Caching==2.5.1
Flask-JWT-Extended==4.7.4
Flask-Limiter==4.1.1
flask-marshmallow==1.5.0
Flask-SQLAlchemy==3.1.1
flask-swagger==0.2.14
flask-swagger-ui==5.32.15
itsdangerous==2.2.0
Jinja2==3.1.6
limits==5.8.0
MarkupSafe==3.0.3
marshmallow==4.3.1
marshmallow-sqlalchemy==1.5.0
mysql-connector-python==26.7.0
ordered-set==4.1.0
packaging==26.3
pyasn1==0.6.4
PyJWT==2.13.0
python-dotenv==1.2.3
python-jose==3.5.0
PyYAML==6.0.3
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.52
typing_extensions==4.16.0
Werkzeug==3.1.8
wrapt==2.4.0
